<?xml version="1.0"?>
<config>
  <modules>
    <Nat_Localmail>
      <version>0.1.0</version>
    </Nat_Localmail>
  </modules>
  <frontend>
    <routers>
      <localmail>
        <use>standard</use>
        <args>
          <module>Nat_Localmail</module>
          <frontName>localmail</frontName>
        </args>
      </localmail>
    </routers>
    <layout>
      <updates>
        <localmail>
          <file>nat/localmail.xml</file>
        </localmail>
      </updates>
    </layout>
    <translate>
      <modules>
        <Nat_Localmail>
          <files>
            <default>Nat_Localmail.csv</default>
          </files>
        </Nat_Localmail>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Nat_Localmail after="Mage_Adminhtml">Nat_Localmail</Nat_Localmail>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <localmail>
          <file>nat/localmail.xml</file>
        </localmail>
      </updates>
    </layout>
    <translate>
      <modules>
        <Nat_Localmail>
          <files>
            <default>Nat_Localmail.csv</default>
          </files>
        </Nat_Localmail>
      </modules>
    </translate>
  </adminhtml>
  <global>
    <models>
      <localmail>
        <class>Nat_Localmail_Model</class>
        <resourceModel>localmail_resource</resourceModel>
      </localmail>
      <localmail_resource>
        <class>Nat_Localmail_Model_Resource</class>
      </localmail_resource>
      <core>
        <rewrite>
          <email_template>Nat_Localmail_Model_Rewrite_Core_Email_Template</email_template>
        </rewrite>
      </core>
    </models>
    <resources>
      <localmail_setup>
        <setup>
          <module>Nat_Localmail</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </localmail_setup>
      <localmail_write>
        <connection>
          <use>core_write</use>
        </connection>
      </localmail_write>
      <localmail_read>
        <connection>
          <use>core_read</use>
        </connection>
      </localmail_read>
    </resources>
    <blocks>
      <localmail>
        <class>Nat_Localmail_Block</class>
      </localmail>
    </blocks>
    <helpers>
      <localmail>
        <class>Nat_Localmail_Helper</class>
      </localmail>
    </helpers>
  </global>
  <default>
    <localmail>
      <general>
        <enabled>1</enabled>
        <mode>2</mode>
      </general>
    </localmail>
  </default>
</config>
